
# backend
backend/dist
backend/.env
backend/generated/prisma
backend/prisma/migrations
backend/db/dev.db
backend/dist
backend/node_modules
backend/build
backend/files
backend/db
backend/package-lock.json
backend/yarn.lock

# frontend
frontend/dist
frontend/node_modules
frontend/build
frontend/.env
frontend/.vscode
frontend/.DS_Store
frontend/.react-router/
frontend/package-lock.json
frontend/yarn.lock


.windsurf
.vscode
frontend/.vscode
backend/.vscode
.vscode/settings.json
db
files
